<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Up to the Minute Mars</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
​

<body style="background-color: rgb(44, 42, 42);">
  <nav class="navbar navbar-light bg-light navbar-expand-md fixed-top foot">
    <h5 class="navbar-brand">Up to the Minute Mars</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <!-- <span class="navbar-toggler-icon"></span> -->
    </button>
  </nav>

  <div class="container-fluid background" style="margin-top: 50px;">
    <div class="row m-1">
      <div class="col m-3" style="color: rgb(230, 225, 220);">
        <h1>Up to the Minute Mars</h1>
        <h5>
          <a class="btn btn-secondary btn-lg" href="/scrape" role="button">refresh Mars Data</a>
        </h5>
      </div>
    </div>

    <div class="container-fluid m-2">
      <div class="row"> ​
        <div class="col-sm-12 col-md-8">
          <div class="card" style="background-color: rgb(236, 232, 229);">
            <div class="card-body">
              <h4 class="card-title">BREAKING NEWS</h4>
              <h5>{{mars.news_date}}</h5>
              <img src={{mars.news_img}} class="img-fluid" alt="{{mars.news_title}}"><br>
              <h3>{{mars.news_title}}</h3><br>
              <h5>{{mars.news_para}}</h5>
            </div>
          </div>
          <br>

          <div class="card" style="background-color: rgb(236, 232, 229);">
            <div class="card-body">
              <h4 class="card-title">Current conditions on Mars</h4><br>
              <h5>{{mars.weather}}</h5>
            </div>
          </div>
          <br>

          <div class="card">
            <div class="card-body" style="background-color: black;">
              <h4 class="card-title" style="color: rgb(240, 236, 230);">NASA's Jet Propulsion Laboratory featured image
              </h4>
              <h1 style="color: rgb(240, 236, 230);">{{mars.featured_img_title}}</h1><br>
              <h3 style="color: rgb(240, 236, 230);">{{mars.featured_image_cap}}</h3>
              <center><img src={{mars.featured_image_url}} class="img-fluid" alt="NASA featured image"></center>
            </div>
          </div>
          <br>

          <!-- MARS FACTS -->
          <div class="card mb-2">
            <div class="card-body" style="background-color: black;">
              <center>
                <h1 class="card-title" style="color: rgb(240, 236, 230);">Mars Planet Profile</h1>
              </center>
            </div>
          </div>

          <div class="card mb-2" style="margin: 7px; background-color: darkgrey;">
            <div class=" table table-responsive table-bordered">
              <center>
                <div class="table">
                  {{mars.facts_1 | safe}}
                </div>
              </center>
            </div>
          </div><br>

          <div class="card mb-2">
            <div class="card-body" style="background-color: black;">
              <center>
                <h1 class="card-title" style="color: rgb(240, 236, 230);">Mars - Earth Comparison </h1>
              </center>
            </div>
          </div>

          <div class="card mb-2" style="margin: 7px; background-color: darkgrey;">
            <div class="table-responsive table-bordered">
              <center>
                <div class="table">
                  {{mars.facts_2 | safe}}
                </div>
              </center>
            </div>
          </div><br>



        </div>

        <!-- HEMISPHERE COLUMN -->

        <div class="col-sm-12 col-md-4 ml-auto">
          <aside class="sidebar">
            <div class="card mb-2">
              <div class="card-body" style="background-color: black;">
                <center>
                  <h3 class="card-title" style="color: rgb(240, 236, 230);">Mars Hemispheres</h3>
                </center>
              </div>
            </div>
          </aside>

          <aside class="sidebar">
            <div class="card mb-2">
              <div class="card-body background" style="background-color: black;">
                <center>
                  <h5 class="card-title" style="color: rgb(240, 236, 230);">{{mars.Valles_Marineris_Hemisphere_Enhanced}}</h5>
                </center>
                <center><img src={{mars.Valles_Marineris_Hemisphere_Enhanced_url}} class="img-fluid" alt={{mars.Valles_Marineris_Hemisphere_Enhanced}}>
                </center>
              </div>
            </div>
          </aside>

          <aside class="sidebar">
            <div class="card mb-2">
              <div class="card-body background" style="background-color: black;">
                <center>
                  <h5 class="card-title" style="color: rgb(240, 236, 230);">{{mars.Syrtis_Major_Hemisphere_Enhanced}}</h5>
                </center>
                <center><img src={{mars.Syrtis_Major_Hemisphere_Enhanced_url}} class="img-fluid" alt={{mars.Syrtis_Major_Hemisphere_Enhanced}}>
                </center>
              </div>
            </div>
          </aside>

          <aside class="sidebar">
            <div class="card mb-2">
              <div class="card-body background" style="background-color: black;">
                <center>
                  <h5 class="card-title" style="color: rgb(240, 236, 230);">{{mars.Schiaparelli_Hemisphere_Enhanced}}</h5>
                </center>
                <center><img src={{mars.Schiaparelli_Hemisphere_Enhanced_url}} class="img-fluid" alt={{mars.Schiaparelli_Hemisphere_Enhanced}}>
                </center>
              </div>
            </div>
          </aside>

          <aside class="sidebar">
            <div class="card mb-2">
              <div class="card-body background" style="background-color: black;">
                <center>
                  <h5 class="card-title" style="color: rgb(240, 236, 230);">{{mars.Cerberus_Hemisphere_Enhanced}}</h5>
                </center>
                <center><img src={{mars.Cerberus_Hemisphere_Enhanced_url}} class="img-fluid"
                    alt={{mars.Cerberus_Hemisphere_Enhanced}}>
                </center>
              </div>
            </div>
          </aside>

        </div>

      </div>
    </div>



    <div>
      <div class="container-fluid foot" style="margin-top: 20px; color: rgb(83, 82, 82);">
        MARS mars sram SRAM   SraMMarS MarssraM MARS mars sram SRAM   SraMMarS MarssraM   MARS mars sram SRAM   SraMMarS MarssraM
        MARS mars sram SRAM   SraMMarS MarssraM MARS mars sram SRAM   SraMMarS MarssraM   MARS mars sram SRAM   SraMMarS MarssraM
        MARS mars sram SRAM   SraMMarS MarssraM MARS mars sram SRAM   SraMMarS MarssraM   MARS mars sram SRAM   SraMMarS MarssraM
        <div class="row">

        </div>
      </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>

</body>
​

</html>